.todo{
	background-color: var(--bg-secondary);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
	display: flex;
	transition: transform 0.45s;
	&.done{
		transform: scale(0.9);
	}
}

.check-icon{
	opacity: 0.55;
	width: 25px;
	height: 25px;
	&:hover, &.done{
		opacity: 1;
	}
}

.edit, .check-done{
	flex: 1;
	text-align: center;
	position: relative;
}

.title{
	flex: 4;
	&.done{
		input{
			text-decoration: 3px line-through green;
		}
	}
	input{
		border: none;
		margin: 0;
	}
}

.edit-option{
	display: flex;
	align-items: center;
	img{
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}
}